.card{
    width: 300px;
    height: 305px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1,1.1);
    box-shadow: 0 30px 60px rgba(0,0,0,0.5)
}

.card:hover img{
    transition: translateY(-20px);
}

.card img{
    position: absolute;
    top: 0;
    height: 225px;
    z-index: -1;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    width: 100%;
}

.card h3{
    color: #e33333;
    font-size: 18px;
    margin: 0 0 20px 20px;
    width: 190px;
    z-index: 2;
}

.card p{
    color: rgba(3, 3, 3, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    align-self: end;
    margin: 239px 20px 0 20px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap; 
    -webkit-line-clamp: 1;
    z-index: 2;
    height: 26px;
}

.more_info_name {
    height: 36px;
    font-size: 14px;
    line-height: 18px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-align: left;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: #333;
    -webkit-transition: color ease 0.2s;
    -o-transition: color ease 0.2s;
    -moz-transition: color ease 0.2s;
    transition: color ease 0.2s;
}

.more_info_price {
    margin-top: 10px;
    text-align: center;
}

.mod_price {
    font-size: 14px;
    color: #e33333;
}

.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
}

.infoWrapper{
    position: absolute;
    bottom: 0;
    z-index: 10;
}

.mask{
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #f3f3f3;
    z-index: 1;
}